.registration-form {
  height: 100vh;
  padding: 0px 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: auto;
  align-content: center;
}

.alert-container {
  position: absolute;
  top: 20px;
  left: 50%;
}
.alert {
  position: relative;
  left: -50%;
}
